body {
  color: white;
  background-color: #181424;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.header {
  font-size: 25px;
}

.saldo {
  font-weight: bold;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 20%;
}

label {
  font-size: 18px;
}

.form-input {
  margin-top: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  margin-top: 5px;
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 35px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #145378;
}

.minus {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  margin: 2px;
}

.plus {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  margin: 2px;
}

.price-list {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

.remove-price {
  margin-right: 10px;
  opacity: 0.3;
  color: black;
}

.remove-price:hover {
  cursor: pointer;
  opacity: 1;
  color: red;
}

.in {
  color: rgba(8, 202, 8, 0.914);
}

.out {
  color: red;
}