.App {
  text-align: center;
}

.form-control {
  display: grid;
  justify-content: center;
}

.form-input {
  margin-top: 20px;
}

.form-submit {
  margin-top: 10px;
}

.minus {
  background-color: red;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 5px;
}

.plus {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 5px;
}

.price-list {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  width: 100%;
}

.remove-price {
  margin-right: 10px;
}