.App {
  text-align: center;
}

.form-control {
  display: grid;
  justify-content: center;
}

.form-input {
  margin-top: 20px;
}

.form-submit {
  margin-top: 10px;
}

.minus {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.plus {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.price-list {
  margin:auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  border-style: solid;
}

.remove-price {
  margin-right: 10px;
}